[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2 = "*"
requests = "*"
psycopg2-binary = "*"
yapf = "*"
slack-sdk = "*"
python-dotenv = "*"

[dev-packages]
pytest-mock = "*"
pytest = "*"
mock = "*"
pytest-cov = "*"
freezegun = "*"

[requires]
python_version = "3.7"
